<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--Permission for Plugin Library-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--Permission for querying data usage-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission for calllog related -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".datausage.actionusagequery.DataUsageActionConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Query Data Usage"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siminfo.actioninfoquery.SimInfoActionConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Query SIM Info"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siminfo.eventdatasimchanged.DataSimChangedConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Data SIM Changed"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".call.eventcalllogentry.CallLogEntryEventConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Call Log Entry"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".siminfo.eventdatasimchanged.DataSimChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telephony.action.DEFAULT_SUBSCRIPTION_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".call.PhoneStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".call.PhoneStateService"
            android:exported="true" />

    </application>

</manifest>