<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--    Permission for Plugin Library-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    Permission for querying data usage-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    Permissions for Wi-FI control-->
    <!--    Required from Q to add new wifi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--    Required to add new wifi on devices below Q-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--    Bluetooth tethering-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".datausage.actionusagequery.DataUsageActionConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Query Data Usage"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siminfo.actioninfoquery.SimInfoActionConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Query SIM Info"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siminfo.eventdatasimchanged.DataSimChangedConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Data SIM Changed"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wifi.actionaddorremovewifi.AddOrRemoveWifiConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Add or Remove WiFi"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth.actionBluetoothTethering.ToggleBTTetheringConfig"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Toggle BT Tethering"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".siminfo.eventdatasimchanged.DataSimChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telephony.action.DEFAULT_SUBSCRIPTION_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>